<div class="container-fluid">
    <img src=".\assets\Images\Loading_Screen_Black_Fade.png" class="background" alt="">
      <div class = "row container-fluid">
        <span class="badge">Logo</span>
        <div class="col-4" >
          <img src=".\assets\Images\moto_hp.webp" style="height: 100vh; width: 33.33vw;" alt="">
          <h1 class="zona1">testo/segnaposto/</h1>
            <p class="zona2">SONO/UN/TESTO/SEGNA/POSTO</p>
        </div>


        <div class="col-4">
          <img src=".\assets\Images\moto_hp.webp" style="height:100vh; width: 33.33vw;" alt="">
          <h1 class="zona3">testo/segnaposto/</h1>
            <p class="zona4">SONO/UN/TESTO/SEGNA/POSTO</p>
        </div>

        <div class="col-4">
          <img src=".\assets\Images\moto_hp.webp" style="height:100vh; width: 33.33vw;" alt="">
          <h1 class="zona5">testo/segnaposto/</h1>
            <p class="zona6">SONO/UN/TESTO/SEGNA/POSTO</p>
        </div>
        <span class="footerlogo">Logo</span>
    </div>

  <img src=".\assets\Images\Loading_Screen_Black_Fade.png" class="footer" alt="">
</div>
